.Titre {
    width: 100vw;
    color: #eee;
    font-family: 'Odibee Sans', cursive;
    position: relative;
    font-size: calc(3.2em + 2vmin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //text-align: center;
    -webkit-text-stroke: 0.15rem #1e1e1e;
  }

.container-img {
    display: flex;
    justify-content: center;
    .img {
        width: 281px;
        height: 239px;
        margin: 0 10vmax 0 10vmax;
    }
}

.texte {
    font-family: 'Signika', sans-serif;
    color: #eee;
    font-size: 1.3em;
    text-justify: inter-word;
    padding: 2vmax 10vmax 0 10vmax ;
    @media screen and (max-width:1000px){
        font-size: 1.1em;
        &:last-of-type {
            padding: 2vmax 10vmax 10vmax 10vmax ;
        }
        
    }
}


.texte-contact {
    font-family: 'Signika', sans-serif;
    color: #eee;
    font-size: 1.5em;
    text-justify: inter-word;
    text-align: center;
    padding: 2vmax 2vmax 0 2vmax ;
}

.listeProjets {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 10vmax;
    padding-right: 5vmax;
    justify-content: center;
}
