.BasDePage {
    position: fixed;
    font-size: 1.2em;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #eee;
    margin: 0 0 2vmax 2vmax ;
    .liens {
        display: inline-block;
        .liens-txt {
            margin-right: 1vmax ;
            padding-right: 0.7vmax;
            border-right: 0.2em solid #eee;
        }
        .liens-icon {
            margin-left: 0.3vmax;
        }
    }
   
}