.Entete {
    top: 0;
    background-color: #1e1e1e;
    padding: 20px;
    color: #eee;
    justify-content: center;
    .Nom {
        font-size: larger;
    }
    .nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 0.3rem #eee solid;
        li {
            margin-left: 5vw;
            margin-right: 5vw;
            align-items: center;
            padding-bottom: 0.3rem;
        }
    }
}