.Entete-screen {
    top: 0;
    //background-color: #1e1e1e;
    padding: 20px;
    color: #eee;
    justify-content: center;
    .Nom {
        font-size: larger;
    }
    .nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            margin-left: 5vw;
            margin-right: 5vw;
            align-items: center;
            padding-bottom: 0.3rem;
            border-bottom: 0.3rem #eee solid;
            cursor: pointer;
            @media screen and (max-width: 900px)  {
                font-family: 'Odibee Sans', cursive;
                border-bottom: none;
                font-size: 3em;
            }
        }
        @media screen and (max-width: 900px)  {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 900px)  {
        position: relative;
    }
    
}