.Entete-screen {
    top: 0;
    //background-color: #1e1e1e;
    padding: 20px;
    color: #eee;
    justify-content: center;
    .nav {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            margin-left: 5vw;
            margin-right: 5vw;
            align-items: center;
            padding-bottom: 0.3rem;
            border-bottom: 0.3rem #eee solid;
            cursor: pointer;
        }
    }
    
}