.Projet-conteneur {
    color: #eee;
    padding-top: 2vh;
    padding-bottom: 2vh;
    .projet-logo {
        margin-right: 5vmax;
        .projet-title {
            font-family: 'Odibee Sans', cursive;
            -webkit-text-stroke: 0.1rem #1e1e1e;
            font-size: 3em;
            position: absolute;
            z-index: 1;
            margin: 0;
        }
        .projet-image {
            border: 2px solid white;
            height: 20vh;
            z-index: 0;
        }
    }
}
