.App {
  position: fixed;
  width: 100vmax;
  height: 100vh;
  background: url(../src/img-importants/background_portfolio.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}







// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
   
//   }
// }

